/* src/components/Portfolio/Portfolio.css */

* {
  box-sizing: border-box;
}

#portfolio {
  background-color: #343a40;
  color: grey;
  padding: 1rem 0;
  overflow: visible; /* Allow content to determine the height */
}

.container {
  max-width: 1000px;
  margin: 5px auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.text-24 {
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 2;
}

.text-9 {
  font-size: 8.25rem;
  color: #282c30;
}

.heading-separator-line {
  display: block;
  width: 60px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 0 auto;
  position: absolute;
  bottom: -0px;
  left: 50%;
  transform: translateX(-50%);
}

.mb-5 {
  margin-bottom: 1.2rem;
}

.portfolio-filter,
.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1rem;
  gap: 1rem;
}

.filter-item {
  flex: 0 1 calc(33.3% - 10px);
  margin: 5px;
  height: auto;
}

.portfolio-box {
  border: 1px solid #212529;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #212529;
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
}

.portfolio-box:hover .portfolio-img img {
  opacity: 0.3;
}

.portfolio-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.portfolio-img {
  background-size: cover;
  width: 100%;
  position: relative;
}

.portfolio-img img {
  max-width: 100%;
  height: auto;
}

.portfolio-overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  background-color: rgba(73, 67, 67, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.portfolio-box:hover .portfolio-overlay {
  visibility: visible;
  opacity: 1;
}

.portfolio-overlay-details h5,
.portfolio-overlay-details span {
  color: #64ffd8;
  margin: 0;
  font-size: 1.2rem; /* For h5 */
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding: 5px 10px;
    max-width: 100%;
  }
  
  .text-24 {
    font-size: 1.7rem;
  }
  
  .text-9 {
    font-size: 3.3rem;
  }
  
  .heading-separator-line {
    width: 50%;
  }
  
  .justify-content-evenly {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 0.2rem; /* Space between items */
  }
  
  .filter-item {
    flex-basis: 100%;
    max-width: 100%;
    margin: 5px 0; /* Adjust margin to avoid horizontal scrolling */
  }
  
  .portfolio-img img {
    width: 100%; /* Full width images on smaller screens */
  }

  .portfolio-overlay-details h5 {
    font-size: 1rem; /* Smaller title size for readability */
  }

  .portfolio-overlay-details span {
    font-size: 0.8rem; /* Smaller detail text for readability */
  }

  .nav-link {
    width: 100%; /* Full width for each nav link */
    justify-content: center; /* Center the content inside nav link */
    padding: 0.2rem 0; /* Adjust padding as needed */
  }

  .nav-link,
  .nav-link:visited,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    font-size: 0.75rem; /* Smaller font size for filter buttons */
  }
  
  /* Simplify nav-link active state styling */
  .nav-link.active,
  .nav-link.active > div {
    color: #64ffd8; /* Highlight active filter */
  }
}
