/* Header Container */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  z-index: 10;
  justify-content: center;
  padding: 10px 20px;
  overflow: hidden;
  overflow-y: auto;
}

/* Sticky Header */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  z-index: 1020;
  animation: slide-down 0.7s;
  transition: top 0.3s ease-in-out; /* Smooth transition for the sticky effect */
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Profile Section */
.profile-container {
  text-align: center;
  padding-bottom: 2rem;
}

.profile-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 6px solid #343a40;
}

.shadow {
  position: relative;
  margin-top: 1rem;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.shadow:before, .shadow:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg, #7a2f5a, #25256c, #306a30, #7e7e2f, #722c2c, #833862, #29296e, #2f612f, #5b2929);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
  border-radius: 50%;
}

.shadow:after {
  filter: blur(20px);
  margin-top: 1rem;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Navigation Links */
.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 6rem;
  list-style: none;
  margin-top: 6rem;
  
}

.nav-link {
  color: rgb(255, 255, 255);
  margin: 0.1rem 0;
  transition: color 0.2s ease;
  text-align: center;
  padding: 0.5px 0;
  font-size: 18px !important;
  padding-top: 1rem;
  cursor: pointer;
}

.nav-link:hover, .nav-link.active {
  color: #57d499;
  text-shadow: 0 0 10px #c0de85, 0 0 20px #dddec6;
  font-weight: bold;
  cursor: pointer;
  
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  padding-top: 5rem !important;
  margin-top: auto !important;
  padding-top: 1rem !important;
  cursor: pointer;
}

.icon-link {
  color: white;
  margin: 0 8px;
  font-size: 1.5rem;
}

.icon-link:hover {
  color: #ddd;
}

/* Fix to Left */
.fix-to-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
}

.mobile-hamburger {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  z-index: 1000;
}




/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .header {
    position: fixed; /* Fixes the header to the top of the screen */
    top: 0;
    width: 100%; /* Full width to cover the top */
    z-index: 1000;
    width: 100%; /* Full width for mobile */
    height: auto; 
    /* Relative positioning for mobile */
    overflow: visible;
  }

 /* Initially hide the nav on mobile */
 /* Navigation initially hidden with smooth transition for height */
  .nav {
    transform: translateY(-100%); /* Initially move the menu off the screen */
    opacity: 0; /* Invisible initially */
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out; /* Smooth transition for both */
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fixes the nav */
    top: 70px; /* Below the header */
    left: 0;
    width: 100%;
    background-color: #343a40;
    z-index: 999;
  }
.nav-open {
  transform: translateY(0); /* Slide down the menu */
  opacity: 1; /* Make it visible */
  position: fixed; 
  display: flex;
  max-height: 1000px; 
  transition: max-height 0.7s ease-in-out;
  flex-direction: column;
  align-items: center;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #343a40;
  z-index: 999;
  
}
  /* Hamburger Menu */
  .mobile-hamburger {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    z-index: 1000; 
  }

  /* Hide the profile image and name on mobile */
  .profile-container {
    display: none;
  }
  .social-links {
  display: flex ; /* Hide social links by default */
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
  }

  .nav-link {
    padding: 1rem;
    border-bottom: 1px solid #2e2d2d;
    color: white;
    width: 100%;
    text-align: center;
  }

  .nav-link:hover {
    background-color: #444;
  }


 
}
