/* Hamburger Menu Button */
.navbar-toggler {
    width: 25px;
    height: 30px;
    padding: 10px;
    margin: 18px 15px;
    position: relative;
    border: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block;
  }
  .navbar-toggler span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #3c3636;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navbar-toggler span:nth-child(1) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(2) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler span:nth-child(3) {
    top: 21px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  .navbar-toggler.show span:nth-child(1) {
    top: 4px;
    left: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .navbar-toggler.show span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  .navbar-toggler.show span:nth-child(3) {
    top: 22px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .navbar-accordion {
    position: initial;
  }
  
  .navbar-expand-none .navbar-collapse {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background: #fff;
    margin-top: 0px;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .navbar-expand-none .navbar-collapse .navbar-nav {
    overflow: hidden;
    overflow-y: auto;
    max-height: 65vh;
    padding: 15px;
  }
  .navbar-expand-none ul.navbar-nav li {
    display: block;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0;
  }
  .navbar-expand-none ul.navbar-nav li:last-child {
    border: none;
  }
  .navbar-expand-none ul.navbar-nav li + li {
    margin-left: 0px;
  }
  .navbar-expand-none
    ul.navbar-nav
    li.dropdown
    > .dropdown-toggle
    > .arrow.show:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar-expand-none ul.navbar-nav li > a:hover:after,
  .navbar-expand-none ul.navbar-nav li > a.active:after {
    content: none !important;
    width: 0px !important;
  }
  .navbar-expand-none ul.navbar-nav li.dropdown > .dropdown-toggle .arrow {
    display: block;
  }
  .navbar-expand-none ul.navbar-nav > li > a:not(.btn) {
    height: auto;
    padding: 8px 0;
    position: relative;
  }
  .navbar-expand-none
    ul.navbar-nav
    > li.dropdown
    .dropdown-menu
    li
    > a:not(.btn) {
    padding: 8px 0;
    position: relative;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown:hover > a:after {
    content: none;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
    -webkit-transform: translate(-50%, -50%) rotate(134deg);
    transform: translate(-50%, -50%) rotate(134deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0px 0px 0px 15px;
  }
  .navbar-expand-none ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
    margin: 0;
  }
  .navbar-expand-none
    ul.navbar-nav
    > li.dropdown-mega
    .dropdown-mega-content
    > .row
    > div {
    padding: 0px 15px;
  }
  .navbar-expand-none.navbar-text-light .navbar-collapse {
    background: rgba(0, 0, 0, 0.95);
  }
  .navbar-expand-none.navbar-text-light .navbar-collapse ul.navbar-nav li {
    border-color: rgba(250, 250, 250, 0.15);
  }
  .navbar-expand-none.navbar-dropdown-dark .navbar-collapse {
    background-color: #252a2c;
  }
  .navbar-expand-none.navbar-dropdown-primary .navbar-collapse {
    background-color: #0366d6;
  }
  .navbar-expand-none.navbar-dropdown-primary
    ul.navbar-nav
    > li.dropdown
    .dropdown-menu
    .dropdown-menu {
    background-color: #0366d6;
  }
  .navbar-expand-none.navbar-dropdown-dark ul.navbar-nav li {
    border-color: #444;
  }
  .navbar-expand-none.navbar-dropdown-dark ul.navbar-nav > li > a {
    color: #a3a2a2;
  }
  .navbar-expand-none.navbar-dropdown-dark ul.navbar-nav > li:hover > a {
    color: #fff;
  }
  .navbar-expand-none.navbar-dropdown-primary ul.navbar-nav li {
    border-color: rgba(250, 250, 250, 0.2);
  }
  .navbar-expand-none.navbar-dropdown-primary ul.navbar-nav > li > a {
    color: rgba(250, 250, 250, 0.8);
  }
  .navbar-expand-none.navbar-dropdown-primary ul.navbar-nav > li:hover > a {
    color: #fff;
  }
  
  @media (max-width: 575.98px) {
    .navbar-expand-sm .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-sm .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-sm ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-sm ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-sm ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-sm
      ul.navbar-nav
      li.dropdown
      > .dropdown-toggle
      > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-sm ul.navbar-nav li > a:hover:after,
    .navbar-expand-sm ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-sm ul.navbar-nav li.dropdown > .dropdown-toggle .arrow {
      display: block;
    }
    .navbar-expand-sm ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-sm
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      li
      > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-sm ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-sm
      ul.navbar-nav
      > li.dropdown-mega
      .dropdown-mega-content
      > .row
      > div {
      padding: 0px 15px;
    }
    .navbar-expand-sm.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-sm.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
    .navbar-expand-sm.navbar-dropdown-dark .navbar-collapse {
      background-color: #252a2c;
    }
    .navbar-expand-sm.navbar-dropdown-primary .navbar-collapse {
      background-color: #0366d6;
    }
    .navbar-expand-sm.navbar-dropdown-primary
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      .dropdown-menu {
      background-color: #0366d6;
    }
    .navbar-expand-sm.navbar-dropdown-dark ul.navbar-nav li {
      border-color: #444;
    }
    .navbar-expand-sm.navbar-dropdown-dark ul.navbar-nav > li > a {
      color: #a3a2a2;
    }
    .navbar-expand-sm.navbar-dropdown-dark ul.navbar-nav > li:hover > a {
      color: #fff;
    }
    .navbar-expand-sm.navbar-dropdown-primary ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.2);
    }
    .navbar-expand-sm.navbar-dropdown-primary ul.navbar-nav > li > a {
      color: rgba(250, 250, 250, 0.8);
    }
    .navbar-expand-sm.navbar-dropdown-primary ul.navbar-nav > li:hover > a {
      color: #fff;
    }
  }
  @media (max-width: 767.98px) {
    .navbar-expand-md .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-md .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-md ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-md ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-md ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-md
      ul.navbar-nav
      li.dropdown
      > .dropdown-toggle
      > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-md ul.navbar-nav li > a:hover:after,
    .navbar-expand-md ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-md ul.navbar-nav li.dropdown > .dropdown-toggle .arrow {
      display: block;
    }
    .navbar-expand-md ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-md
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      li
      > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-md ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-md
      ul.navbar-nav
      > li.dropdown-mega
      .dropdown-mega-content
      > .row
      > div {
      padding: 0px 15px;
    }
    .navbar-expand-md.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-md.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
    .navbar-expand-md.navbar-dropdown-dark .navbar-collapse {
      background-color: #252a2c;
    }
    .navbar-expand-md.navbar-dropdown-primary .navbar-collapse {
      background-color: #0366d6;
    }
    .navbar-expand-md.navbar-dropdown-primary
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      .dropdown-menu {
      background-color: #0366d6;
    }
    .navbar-expand-md.navbar-dropdown-dark ul.navbar-nav li {
      border-color: #444;
    }
    .navbar-expand-md.navbar-dropdown-dark ul.navbar-nav > li > a {
      color: #a3a2a2;
    }
    .navbar-expand-md.navbar-dropdown-dark ul.navbar-nav > li:hover > a {
      color: #fff;
    }
    .navbar-expand-md.navbar-dropdown-primary ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.2);
    }
    .navbar-expand-md.navbar-dropdown-primary ul.navbar-nav > li > a {
      color: rgba(250, 250, 250, 0.8);
    }
    .navbar-expand-md.navbar-dropdown-primary ul.navbar-nav > li:hover > a {
      color: #fff;
    }
  }
  @media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-lg ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-lg ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-lg ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-lg
      ul.navbar-nav
      li.dropdown
      > .dropdown-toggle
      > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-lg ul.navbar-nav li > a:hover:after,
    .navbar-expand-lg ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-lg ul.navbar-nav li.dropdown > .dropdown-toggle .arrow {
      display: block;
    }
    .navbar-expand-lg ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-lg
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      li
      > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-lg ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-lg
      ul.navbar-nav
      > li.dropdown-mega
      .dropdown-mega-content
      > .row
      > div {
      padding: 0px 15px;
    }
    .navbar-expand-lg.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-lg.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
    .navbar-expand-lg.navbar-dropdown-dark .navbar-collapse {
      background-color: #252a2c;
    }
    .navbar-expand-lg.navbar-dropdown-primary .navbar-collapse {
      background-color: #0366d6;
    }
    .navbar-expand-lg.navbar-dropdown-primary
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      .dropdown-menu {
      background-color: #0366d6;
    }
    .navbar-expand-lg.navbar-dropdown-dark ul.navbar-nav li {
      border-color: #444;
    }
    .navbar-expand-lg.navbar-dropdown-dark ul.navbar-nav > li > a {
      color: #a3a2a2;
    }
    .navbar-expand-lg.navbar-dropdown-dark ul.navbar-nav > li:hover > a {
      color: #fff;
    }
    .navbar-expand-lg.navbar-dropdown-primary ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.2);
    }
    .navbar-expand-lg.navbar-dropdown-primary ul.navbar-nav > li > a {
      color: rgba(250, 250, 250, 0.8);
    }
    .navbar-expand-lg.navbar-dropdown-primary ul.navbar-nav > li:hover > a {
      color: #fff;
    }
  }
  @media (max-width: 1199.98px) {
    .navbar-expand-xl .navbar-collapse {
      position: absolute;
      top: 99%;
      right: 0;
      left: 0;
      background: #fff;
      margin-top: 0px;
      z-index: 1000;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    .navbar-expand-xl .navbar-collapse .navbar-nav {
      overflow: hidden;
      overflow-y: auto;
      max-height: 65vh;
      padding: 15px;
    }
    .navbar-expand-xl ul.navbar-nav li {
      display: block;
      border-bottom: 1px solid #eee;
      margin: 0;
      padding: 0;
    }
    .navbar-expand-xl ul.navbar-nav li:last-child {
      border: none;
    }
    .navbar-expand-xl ul.navbar-nav li + li {
      margin-left: 0px;
    }
    .navbar-expand-xl
      ul.navbar-nav
      li.dropdown
      > .dropdown-toggle
      > .arrow.show:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-xl ul.navbar-nav li > a:hover:after,
    .navbar-expand-xl ul.navbar-nav li > a.active:after {
      content: none !important;
      width: 0px !important;
    }
    .navbar-expand-xl ul.navbar-nav li.dropdown > .dropdown-toggle .arrow {
      display: block;
    }
    .navbar-expand-xl ul.navbar-nav > li > a:not(.btn) {
      height: auto;
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-xl
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      li
      > a:not(.btn) {
      padding: 8px 0;
      position: relative;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown:hover > a:after {
      content: none;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-toggle .arrow:after {
      -webkit-transform: translate(-50%, -50%) rotate(134deg);
      transform: translate(-50%, -50%) rotate(134deg);
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu {
      margin: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      padding: 0px 0px 0px 15px;
    }
    .navbar-expand-xl ul.navbar-nav > li.dropdown .dropdown-menu .dropdown-menu {
      margin: 0;
    }
    .navbar-expand-xl
      ul.navbar-nav
      > li.dropdown-mega
      .dropdown-mega-content
      > .row
      > div {
      padding: 0px 15px;
    }
    .navbar-expand-xl.navbar-text-light .navbar-collapse {
      background: rgba(0, 0, 0, 0.95);
    }
    .navbar-expand-xl.navbar-text-light .navbar-collapse ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.15);
    }
    .navbar-expand-xl.navbar-dropdown-dark .navbar-collapse {
      background-color: #252a2c;
    }
    .navbar-expand-xl.navbar-dropdown-primary .navbar-collapse {
      background-color: #0366d6;
    }
    .navbar-expand-xl.navbar-dropdown-primary
      ul.navbar-nav
      > li.dropdown
      .dropdown-menu
      .dropdown-menu {
      background-color: #0366d6;
    }
    .navbar-expand-xl.navbar-dropdown-dark ul.navbar-nav li {
      border-color: #444;
    }
    .navbar-expand-xl.navbar-dropdown-dark ul.navbar-nav > li > a {
      color: #a3a2a2;
    }
    .navbar-expand-xl.navbar-dropdown-dark ul.navbar-nav > li:hover > a {
      color: #fff;
    }
    .navbar-expand-xl.navbar-dropdown-primary ul.navbar-nav li {
      border-color: rgba(250, 250, 250, 0.2);
    }
    .navbar-expand-xl.navbar-dropdown-primary ul.navbar-nav > li > a {
      color: rgba(250, 250, 250, 0.8);
    }
    .navbar-expand-xl.navbar-dropdown-primary ul.navbar-nav > li:hover > a {
      color: #fff;
    }
  }