/* Footer.css */
.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem; /* Ensure there's space before the footer */
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer span {
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.5rem; /* Adjust the size of the icons */
}

.social-links a:hover {
    color: #64ffda; /* Highlight color on hover */
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; /* This will make the content expand to fill available space, pushing the footer down */
  }
  
  .footer {
    flex-shrink: 0; /* Prevents the footer from shrinking */
  }