/* ProjectDetailsModal.css */

/* Base styles for the modal */
.modal-content {
    background: #545457; /* Adjust the background as needed */
    color: #333; /* Adjust text color as needed */
    border-radius:5px;
    overflow-y: auto; /* Makes the content scrollable vertically */
    max-height: 90vh;
}
  
.modal-body {
    
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.mb-4 {
    margin-bottom: 0.5rem !important;
  }
/* Specific styles for the dark theme */
.modal-content.dark-theme {
    background: #333; /* Dark background for dark theme */
    color: #fff; /* Light text color for dark theme */
}
.h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 39%;
  }

/* Close button customization */
.btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
  
.btn-close-white {
    filter: invert(1);
}

.wrapper-component h2 {
    color: white;
    margin: 0.5rem 0;
      margin-bottom: 0.2rem;
  }
.wrapper-component titled{
    font-size: 2rem;
    font-weight: 600;
    color: black ;
    margin-left: 1rem;
}

/* Content within the modal */
.modal-body {
    padding: 20px;
}
  
/* Headers inside the modal */
.modal-body h2,
.modal-body h4 {
    margin-bottom: 15px;
}


.modal-dialog {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Use at least the viewport height */
}



/* List styles */
.list-style-2 {
    list-style: none;
    padding: 0;
    color: white;
}
  
.list-style-2 li {
    margin-bottom: 5px;
    color: white;
}
  

  
/* Image styles */
.img-fluid {
    width: 100%; /* Full width to utilize the container space */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Cover the frame without distorting aspect ratios */

}



.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

/* Slider specific styles */
.slick-slide {
    margin: 0 10px;
}
  
.slick-list {
    margin: 0 -10px;
    height: 620px; 
}
  
@media (max-width: 768px) {
    .modal-dialog {
      height: auto;
      min-height: 100vh;
      margin: 20px; /* Provide some space around the modal */
    }
    .img-fluid {
        max-height: 300px; /* Smaller max-height for mobile views */
    }

    .slick-list {
        height: 320px; /* Adjusted to smaller image height on mobile devices */
    }

}
