/* Base styles for the modal */
.modal-content {
  background: #545457; /* Adjust the background as needed */
  color: #333; /* Adjust text color as needed */
  border-radius: 3px;
  overflow-y: auto; /* Makes the content scrollable vertically */
  max-height: 100vh;
  max-width: 100%;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-x: hidden; 
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* Specific styles for the dark theme */

.h4 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  font-family: "Poppins", sans-serif;
}

.col-md-5 {
  flex: 0 0 auto;
  width: 39%;
}

/* Close button customization */
.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-close-white {
  filter: invert(1);
}

.wrapper-component h2 {
  color: white;
  margin: 1.5rem !important;
  margin-bottom: 0.5rem;
}

.wrapper-component titled {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

/* Headers inside the modal */
.modal-body h2,
.modal-body h4 {
  margin-bottom: 15px;
  margin-top: 0.2rem;
}

.modal-dialog {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh; /* Use at least the viewport height */
}

/* List styles */
.list-style-2 {
  list-style: none;
  padding: 0;
  color: white;
}

.list-style-2 li {
  margin-bottom: 5px;
  color: white;
}

.text-dark {
  --bs-text-opacity: 1;
}

/* Image styles */
.img-fluid {
  width: 100%; /* Full width to utilize the container space */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Cover the frame without distorting aspect ratios */
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* Slider specific styles */
.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
  height: 620px;
  overflow-x: hidden; /* Hide horizontal scrolling */
}

@media (max-width: 768px) {

  .col-md-7 {
    width: 100% !important; /* Ensure the column takes up the full width */
    padding: 0 !important; /* Remove padding to ensure full-width */
    margin: 0 !important; 
  }
  .img-fluid {
    width: 100%; /* Make the image take up the full width of the modal body */
    max-height: none; /* Remove any maximum height to allow full-width scaling */
    margin-left: 0 !important;
  }
  #img.img-fluid {
    width: 110%; /* Make the image take up the full width of the modal body */
    max-height: none; /* Remove any maximum height to allow full-width scaling */
    margin-left: 0% !important;
  }

  .modal-body {
    padding: 2px !important;
    overflow-x: hidden; /* Hide horizontal scrolling */
  }

  .modal-content {
    color: #fff;
  }

  

  .div {
    display: block;
    unicode-bidi: isolate;
  }

  .modal-title {
    margin-bottom: 1.5rem !important;
  }

  .modal-body h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .wrapper-component p {
    color: white;
    line-height: 1.6;
    font-size: 0.8rem;
  }

  .col-md-5 {
  
    flex: 0 0 auto;
    width: 80%;
  }

  .li {
    font-size: 1rem;
  }

  .list-style-2 li {
    margin-bottom: 2px;
    color: white;
    font-size: 0.9rem;
  }

  .content p {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
  }

  .modal-dialog {
    height: auto;
    min-height: 100vh;
    margin: 20px; /* Provide some space around the modal */
  }

  .slick-list {
    padding: 0;
    margin: 0;
    height: 320px; /* Adjusted to smaller image height on mobile devices */
    overflow-x: hidden; /* Hide horizontal scrolling */
  }
  .slick-slide {
    margin: 0 !important; /* Ensure slides take up full width without gaps */
  }
  .slick-prev {
    left: 0.1% !important;
    z-index: 2;
  }

  .slick-next {
    right: 16% !important;
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
}
