.about-me {
  color: grey;
  background-color: #333;
  padding: 4rem 0;
  text-align: center;
  height: 100%;
  margin-bottom: 2rem; 
  min-height: auto;
}

.about-me {
  min-height: auto; /* Allows the component to grow with content */
}
.container {
   max-width: 1200px;
  margin-top: 5px;
  margin: 0 auto;
  padding: 5px 15px;
  
}


.text-center {
  margin-top: 5px;
  text-align: center;
  letter-spacing: 0.06em;
}

.text-24 {
  font-size: 3rem;
  letter-spacing: 0.05em;
}

.text-9 {
  font-size: 2.5rem; 
  letter-spacing: 0.05em;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-muted {
  color: #6c757d;
}

.text-dark {
  color: #5c6772;
}


.heading-separator-line {
  width: 60px;
  margin: 1rem auto;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: -0px; /* Position below the text */
  margin-bottom: 1rem;
}

.position-relative {
  position: relative;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-self-center {
  align-self: center;
}

.introduction {
  padding: 55px;
  font-size: 1.4rem;
  margin: 3rem 0;
  line-height: 1.7;
}
.personal-details {
  margin-bottom: 2rem; /* Ensure there's space below the details */
}
.personal-details strong {
  font-weight: bold;
}

.personal-details p {
  font-size: 1.2rem;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .about-me .container {
    /* Adjust padding for smaller screens */
    padding: 2rem 0 !important;
  }

  .about-me .introduction {
    padding: 1rem; /* Reduce padding for the introduction text */
    font-size: 0.8rem !important; /* Adjust font size for readability */
    margin: 0.5rem 0; /* Adjust margin */
  }

  .personal-details p {
    font-size: 0.8rem !important; /* Adjust font size for personal details */
  }
  .about-me .text-24 {
    font-size: 1.5rem; /* Smaller font size for headings */
  }

  .about-me .text-9 {
    font-size: 3.4rem; /* Adjusted font size for subheadings */
  }
  .about-me .heading-separator-line {
    width: 50%; /* Shorten the width of the separator line */
    margin: 0.5rem auto; /* Adjust margin */
  }
  .about-me .container {
    padding: 1rem 2px;
  }
}


@media (max-width: 768px) {
  .personal-details {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: center; 
    font-size: 1rem;/* Align to the start of the container */
  }
 .about-me .personal-details strong {
    display: block; 
  }
.about-me .introduction, .about-me .personal-details p {
    font-size: 0.7rem;/* Smaller font size for readability */
    line-height: 1.5; /* Improved line height for readability */
    margin-bottom: 1rem; 
  }
}








